@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* ALL */

:root {
    --text-color: rgb(237, 240, 241);
    --text-color-hover: rgb(159, 160, 161);
    --accent: rgb(232, 73, 126);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #24252a;
}

a, h4 {
    color: var(--text-color);
    text-decoration: none;
}

/* NAV BAR */

li, button, .logo__caption{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.header figure img {
    cursor: pointer;
    max-width: 60px;
    margin: 0 40px 0 0;
}

.logo__container {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo__caption {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.logo__caption:hover {
    color: var(--text-color-hover);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    background-image: linear-gradient(90deg, var(--accent), var(--accent));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease 0s;
    padding-bottom: 5px;
}

.nav__links li a:hover {
    color: var(--text-color-hover);
    background-size: 100% 3px;
}

.contact__button {
    margin-left: 20px;
    padding: 9px 25px;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: var(--accent);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact__button:hover {
    /* background-color: rgba(0, 136, 169, 0.8); */
    background-color: rgba(233, 47, 109, 0.8);
}


/* MAIN */

.main {
    height: 1000px;
    align-items: center;
    padding: 50px 10%;
}

.main p {
    color: var(--text-color);
}

/* FOOTER */

.footer {
    align-items: center;
    padding: 30px 10%;
}

.footer__container {
    max-width: 1500px;
    margin: auto;
    /* background-color: red; */
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col {
    /* justify-content: space-between; */
    width: 25%;
    padding: 0 15px;
} 

.footer__col h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
}

.footer__col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--accent);
    height: 2px;
    box-sizing: border-box;
    width: 30%;
}

.footer__col ul li:not(:last-child) {
    margin-bottom: 15px;
}

.footer__col ul li a {
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease; 
}

.footer__col ul li a:hover {
    color: var(--text-color-hover);
    padding-left: 8px;
}

.footer__col ul {
    list-style: none;
}

.footer__col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer__col .social-links a:hover {
    background-color: var(--accent);
}