@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

li, a, button, .logo__caption{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

header figure img {
    cursor: pointer;
    max-width: 50px;
    margin: 0 40px 0 0;
}

.logo__container {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo__caption {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.logo__caption:hover {
    color: #0088a9;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    background-image: linear-gradient(90deg, #0088a9, #0088a9);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all 0.3s ease 0s;
    padding-bottom: 5px;
}

.nav__links li a:hover {
    color: #bebfbf;
    background-size: 100% 3px;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

